.shiny-progress {
  top: 50% !important;
  left: 50% !important;
  margin-top: -100px !important;
  margin-left: -250px !important;
}

.shiny-progress .bar {
background-color: #FF0000;
.opacity = 0.8;
}
.shiny-progress .progress {
height:7px;
}